### Composer ###
composer.phar
composer.lock
/vendor/


### Yii ###
assets/*
!assets/.gitkeep
protected/runtime/*
protected/vendor/*
!protected/runtime/.gitkeep

### Custom ###
nbproject/*
static/third_party/*
*.lock
.vscode
